body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.img_card {
  margin: 20px;
  display: flex;
}
.card_details h5 h4 {
  /* flex-direction: column; */
  padding: 5px 10px;
}
.grid_dard {
  display: flex;
  flex-direction: column !important;
}
